In [10]:
import pandas as pd
import numpy as np
df=pd.read_csv('Cleaned_Dataset_Real_Estate_Sales_2001_2022.csv')
df.head()

,Serial_Number,List_Year,Date_Recorded,Town,Address,Assessed_Value (USD),Assessed_Value_Amount_Binned,Sale_Amount (USD),Sales_Amount_Binned,Sales_Ratio,Sales_Ratio_%,Increase_%,Property_Type,Residential_Type
0,10514,2001,2002-03-06,Hamden,11 FURMAN RD,72170,Low,139000,Low,0.52,51.92,92.60,Residential,Single Family
1,10061,2001,2001-11-16,Guilford,81 CORNWALL LN,161770,Low,340000,Low,0.48,47.58,110.17,Residential,Single Family
2,10223,2001,2002-03-07,Cheshire,116 BRADFORD DR,94360,Low,166000,Low,0.57,56.84,75.92,Residential,Single Family
3,10796,2001,2002-04-15,Bristol,371 EMMETT ST UT 44,30240,Low,68900,Low,0.44,43.89,127.84,Residential,Single Family
4,10493,2001,2002-02-22,Milford,155 CLARK ST U C,65940,Low,169900,Low,0.39,38.81,157.66,Residential,Single Family

In [18]:
# Exploratory Data Analysis (EDA)

# Most and least expensive towns
def get_expensive_towns(df):
    avg_prices = df.groupby('Town')['Sale_Amount (USD)'].mean()
    most_expensive = avg_prices.idxmax(), avg_prices.max()
    least_expensive = avg_prices.idxmin(), avg_prices.min()
    return most_expensive, least_expensive

In [19]:
# Property prices by year
def property_prices_by_year(df):
    return df.groupby('List_Year')['Sale_Amount (USD)'].mean()

In [20]:
# Correlation between assessed value and sale price
def assessed_vs_sale_correlation(df):
    return df[['Assessed_Value (USD)', 'Sale_Amount (USD)']].corr()

In [21]:
# Function to check if certain property types are more expensive
def property_type_prices(df):
    return df.groupby('Property_Type')['Sale_Amount (USD)'].mean()

In [22]:
# Towns with the most transactions
def top_transaction_towns(df, n=10):
    return df['Town'].value_counts().head(n)

In [23]:
# Top N towns by average sale price
def top_n_towns_by_price(df, n=10):
    return df.groupby('Town')['Sale_Amount (USD)'].mean().nlargest(n)

In [28]:
#Results (Visualizations are present in the final Tableau report)

#Insight 1: The most expensive town is Greenwich (the last insight explains the dynamic in the city) while the least costly is Stafford
print("Most and Least Expensive Towns:", get_expensive_towns(df))
print('')

#Insight 2: We can observe the noticeable trend of prices increasing over the given period, starting from 246K in 2001 to 558K in 2022. 
# Yet, in some years we can see the value decreasing compared to the previous year. For instance, in 2005 the property value was lower while in 2006 it was significantly higher. 
# It could suggest that the real estate market experienced some major fluctuations. However, recent years have faced a profound jump in value. 
# For instance, 2020 had a significant increase, which could be explained by changes in property characteristics or external economic factors.
print("Property Prices by Year:", property_prices_by_year(df))
print('')

#Insight 3: We can observe a moderate positive correlation between assessed value and sale amount of properties of approximately 0.45. 
# This means, that properties with higher asset value led to sales for higher prices. While the correlation is overall positive, it is not perfect, 
# meaning that other factors could influence the establishment of sale prices. 
print("Assessed vs Sale Price Correlation:", assessed_vs_sale_correlation(df))
print('')

#Insight 4: We can see that apartments stand out as the most expensive property type. 
#This can happen due to the separation of buildings into units and the generation of rental income or locations that are in high demand. 
#Likewise, commercial and industrial properties are the next most expensive types due to the high demand for office buildings, factories and warehouses. 
#Those types of properties attract high investments from bigger corporations intending to get a high return on investment. 
#Following that, we have vacant lands that are significantly lower, yet good in value due to the potential of area growth and development. 
#Lastly, we have public utilities and residential properties. Residential properties including condos, single-family parcels or townhouses, 
#can be lower in price compared to commercial properties due to slow return on investment and high supply of similar properties in one area. 
#All this can establish the lower value for residential complexes. On the other hand, public utilities, such as power stations, 
#are controlled by the governments and may have lower fixed pricing.
print("Property Type Prices:", property_type_prices(df))
print('')


#Insight 5: At this stage, we can see that the top towns with the highest transactions are Bridgeport, Stamford and Waterbury. 
#This can be due to larger populations or more active real estate markets in these areas. For realtors or investors, focusing on these towns could provide opportunities, 
#as the high volume of transactions might indicate robust market dynamics.
print("Top Transaction Towns:", top_transaction_towns(df))
print('')

#Insight 6: The top towns by price result is a snapshot of the most expensive towns in the United States. 
#We can note that Greenwich, Darien and New Canaan are listed as the most expensive towns, evaluated by average prices on properties for the given period, 
#ranging from 1.5M to 2M USD. This can be explained by the concentration of luxury housing, better infrastructure, school quality, 
#and overall high standard of living that determine the property pricing for these towns. For investors, understanding the potential buyers and pricing dynamic can suggest 
#a high return on investments. For buyers, this snapshot could suggest further analysis of the areas, negotiation plans and investment decisions. 
print('Top N towns by price:', top_n_towns_by_price(df))

Most and Least Expensive Towns: (('Greenwich', np.float64(2108254.5305732833)), ('Stafford', np.float64(150096.02977082887)))

Property Prices by Year: List_Year
2001    246246.531302
2002    296337.444418
2003    327248.144003
2004    380318.537639
2005    364033.519375
2006    475413.801279
2007    435713.379734
2008    325831.792393
2009    355250.327162
2010    331685.771606
2011    391689.525625
2012    395497.787917
2013    413551.308528
2014    401439.427718
2015    345895.038523
2016    445211.158753
2017    393174.120108
2018    383730.929339
2019    420312.144958
2020    529750.873866
2021    536980.767448
2022    557731.490004
Name: Sale_Amount (USD), dtype: float64

Assessed vs Sale Price Correlation:                       Assessed_Value (USD)  Sale_Amount (USD)
Assessed_Value (USD)              1.000000           0.446752
Sale_Amount (USD)                 0.446752           1.000000

Property Type Prices: Property_Type
Apartments        2.947209e+06
Commercial        1.677886e+06
Industrial        2.238045e+06
Public Utility    2.136044e+05
Residential       3.862228e+05
Vacant Land       4.168054e+05
Name: Sale_Amount (USD), dtype: float64

Top Transaction Towns: Town
Bridgeport       38154
Stamford         36629
Waterbury        32659
Norwalk          26936
New Haven        23705
West Hartford    22103
Danbury          21918
Hartford         19777
Stratford        18807
Milford          18572
Name: count, dtype: int64

Top N towns by price: Town
Greenwich     2.108255e+06
Darien        1.600003e+06
New Canaan    1.544927e+06
Westport      1.480955e+06
Weston        9.648373e+05
Wilton        9.198097e+05
Washington    8.749252e+05
Stamford      8.184205e+05
Ridgefield    7.492872e+05
Roxbury       7.452278e+05
Name: Sale_Amount (USD), dtype: float64